@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700,400");
* {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: auto;
  scrollbar-color: #3b90e5 #f7f7f7;
  box-sizing: border-box;
  font-family: "Noto Sans", Helvetica;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px !important;
}

*::-webkit-scrollbar-track {
  background: #f7f7f7;
}

*::-webkit-scrollbar-thumb {
  background-color: #3b90e5;
  border-radius: 10px !important;
  border: 2px solid #ffffff;
}

html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}

/* a blue color as a generic focus style */
button:focus-visible,
a:focus-visible {
  outline: 2px solid #4a90e2 !important;
  /* outline: -webkit-focus-ring-color auto 5px !important; */
}

/* a blue color as a generic focus style */
button:hover,
a:hover {
  background-color: #4a90e298;
  transform: color;
}

a {
  text-decoration: none;
}

.--fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.--fade-in-translateY {
  -webkit-animation: fade-in-translateY 2s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-translateY 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1s;
}

.--fade-in-roman {
  -webkit-animation: fade-in-roman 4s infinite;
  animation: fade-in-roman 4s infinite;
  animation-delay: 2s;
  opacity: 0;
  transform: opacity;
}

.--animation-scroll-down {
  -webkit-animation: fade-in linear both;
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  view-timeline-inset: 30%;
}

.--orbit {
  -webkit-animation: orbit 4s infinite;
  animation: orbit 4s infinite;
  animation-delay: 5s;
}

.--delay-animation-1 {
  animation-delay: 1s;
}

.--delay-animation-2 {
  animation-delay: 2s;
}

.--delay-animation-3 {
  animation-delay: 3s;
}

.--delay-animation-4 {
  animation-delay: 4s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-roman {
  from {
    transform: translateY(-12px) scale(0.98);
    opacity: 1;
    trasform: opacity;
  }
  50% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-12px) scale(0.98);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-translateY {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-translateY {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes orbit {
  from {
    transform: translateY(-12px) scale(0.98);
  }
  50% {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-12px) scale(0.98);
  }
}
